indent = 3
line-length = 0 # fprettify will not format lines that exceed the limit, so do not enforce it here
whitespace-comma = True
whitespace-assignment = True
whitespace-decl = True
whitespace-relational = True
whitespace-logical = True
whitespace-plusminus = True
whitespace-multdiv = True
whitespace-print = True
whitespace-type = False
whitespace-intrinsics = True
strict-indent = True
enable-decl = True
disable-indent = False
disable-whitespace = False
enable-replacements = True
c-relations = True
case = [1, 1, 1, 1]
exclude = [third_party, third_party_open, src/engines_gpl/dflowfm/packages/dflowfm_lib/templates, src/engines_gpl/flow2d3d]
strip-comments = True
disable-fypp = True
disable-indent-mod = False
