# default build directories
bin*/**
build_*/**
install_*/**

# editor files
.vscode/**
.idea/*

# files extensions to exclude
*.i90
*.i
*.mod
*__genmod.f*

# folders to exclude
src/**/obj/**

# ignore files generated when running unit tests
src/test/**/ftnunit.run
src/test/**/ftnunit.html
src/test/**/DFM_OUTPUT_/**

# ignore files created by updating process definition files
src/engines_gpl/waq/resources/csvFiles/*
!src/engines_gpl/waq/resources/csvFiles/*.csv


# ignore FortranCInterface header files created on linux
src/**/config.h
src/**/FortranCInterface.h

.pre-commit-config.yaml
src/cmake/cmake-build-*
install.sh