<p>
   <strong>
      <ac:structured-macro ac:name="toc" ac:schema-version="1" ac:macro-id="f0f7a980-4e4c-4eb6-871c-ce158ffbdf49" />
   </strong>
</p>
<h1><strong>for&nbsp;<a href="https://publicwiki.deltares.nl/display/DHYDRO/Release+Overview">&quot;D-Hydro/Delft3D FM&quot; and &quot;SOBEK&quot; release</a> </strong></h1>
<p><strong>@@@DATE@@@:&nbsp;DIMR+kernels delivery to D-Hydro Front End</strong></p>
<p><strong> <strong>Release: internal release<br /> </strong> </strong></p>
<p><strong> <strong>DIMRset Release overview: p:\d-hydro\dimrset\versions_overview.xlsx<br /> </strong> </strong></p>
<div><strong> <br /> </strong></div>
<div>
   <p class="auto-cursor-target"><br /></p>
</div>
<div><strong> <br /> </strong></div>
<div>
   <h1>Release notes</h1>
   <div>See <a href="https://publicwiki.deltares.nl/pages/viewpage.action?pageId=229606375">release notes</a></div>
   <h1>Contents</h1>
   <strong> <br /> </strong>
</div>
<ul>
   <li>
      <strong>D-RR/RTC</strong> <br />
      lnx64: not needed<br />
      win64:&nbsp;Delft3D - SOBEK&nbsp;::&nbsp;ds builds trunk&nbsp;::&nbsp;
      <a class="buildTypeName" href="https://dpcbuild.deltares.nl/buildConfiguration/DHydro_ClosedSource_Sobek3_Intel212_BuildRrRtcExeDllVs2019">build - RR/RTC -EXE - DLL - vs2019</a>
   </li>
   <br />
   <li>
      <strong>D-Flow FM / D-Waves / DIMR / D-Waq</strong> <br />
      lnx64:&nbsp;Delft3D - SOBEK&nbsp;::&nbsp;oss builds&nbsp;::&nbsp;
      <a class="buildTypeName" href="https://dpcbuild.deltares.nl/admin/editDependencies.html?id=buildType:Delft3DSobek_OssBuilds_Alma8LinuxTest_BuildOssLnx64ifort21" >build - oss - lnx64 - if23</a> <br />
      win64:&nbsp;Delft3D - SOBEK&nbsp;::&nbsp;oss builds&nbsp;::&nbsp;
      <a class="buildTypeName" href="https://dpcbuild.deltares.nl/buildConfiguration/Delft3DSobek_OssBuilds_AllWindowsBuildReleaseModeTest" >build - oss - win64 - if23</a> <br />
   </li>
   <br />
   <li>
      <strong>D-Flow RR-DLL</strong> <br />
      lnx64:&nbsp;Delft3D - SOBEK&nbsp;::&nbsp;ds builds trunk&nbsp;::&nbsp;
      <a class="buildTypeName" href="https://dpcbuild.deltares.nl/admin/editDependencies.html?id=buildType:Delft3DSobek_OssBuilds_Alma8LinuxTest_BuildDsCfDllRrDllLnx64intel23" >build - CF_DLL - intel23</a> <br />
      win64: not needed<br />
   </li>
   <br />
   <li>
      <strong>D-RTCTools</strong> <br />
      lnx64:&nbsp;FBC-Tools&nbsp;::&nbsp;
      <a class="buildTypeName" href="https://dpcbuild.deltares.nl/buildConfiguration/Delft3DSobek_OssBuilds_Alma8LinuxTest_FbcToolsBuildOssX64Alma8CMakeReleaseLinux64" >FBC-Tools Build Alma8 (CMake, Release, Linux64)</a> <br />
      win64:&nbsp;FBC-Tools&nbsp;::&nbsp;
      <a class="buildTypeName" href="https://dpcbuild.deltares.nl/buildConfiguration/FbcTools_FbcToolsBuildOssX64CMakeReleaseWin64" >FBC-Tools Build (CMake, Release, Win64)</a> <br />
   </li>

</ul>
<br />
<h1>Version numbers</h1>
<h2>Windows 64-bit</h2>
@@@WINDOWS_VERSION_ARTIFACT@@@
<br />
<h2>Linux 64-bit</h2>
@@@LINUX_VERSION_ARTIFACT@@@
<br />
<h1>Testbank result</h1>
<p>
   See
   <ac:link>
      <ri:page ri:space-key="PROJ" ri:content-title="Testbank results @@@DIMR_RELEASE_VERSION@@@ release" />
      <ac:plain-text-link-body>
         <![CDATA[subpage]]>
      </ac:plain-text-link-body>
   </ac:link>
</p>
<h1>Signing</h1>
<table class="wrapped">
   <colgroup>
      <col />
      <col />
      <col />
   </colgroup>
   <tbody>
      <tr>
         <th><br /></th>
         <th>#&nbsp;UNsigned files</th>
         <th>#&nbsp;Total files</th>
      </tr>
      <tr>
         <td>This version</td>
         <td>@@@CURRENT_UNSIGNED_FILES@@@<br /></td>
         <td>@@@CURRENT_TOTAL_FILES@@@<br /></td>
      </tr>
      <tr>
         <td>Previous version</td>
         <td>@@@PREVIOUS_UNSIGNED_FILES@@@<br /></td>
         <td>@@@PREVIOUS_TOTAL_FILES@@@<br /></td>
      </tr>
   </tbody>
</table>
<p><br /></p>
<p>&nbsp;</p>