indent = 3
line-length = 0 # fprettify will not format lines that exceed the limit, so do not enforce it here
whitespace = 4
whitespace-comma =
whitespace-assignment =
whitespace-decl = True
whitespace-relational =
whitespace-logical =
whitespace-plusminus =
whitespace-multdiv =
whitespace-print =
whitespace-type =
whitespace-intrinsics =
strict-indent = True
enable-decl = True
disable-indent = False
disable-whitespace = False
enable-replacements = True
c-relations = True
case = [1, 1, 1, 1]
exclude = [third_party, third_party_open]
strip-comments = False
disable-fypp = True
disable-indent-mod = False
